# ignore environments
venv/

# ignore setup files
analysis.egg-info/

# ignore data directories

# ignore notebooks and all model directories in here as these are dev
analysis/notebooks/

# ignore results of experiment runs
analysis/experiment/runs/
analysis/experiment/bulk/
analysis/experiment/batch_size/


# ignore all data files
**/*.pyc
**/*.fa
**/*.csv
**/*.tsv
**/*.json
**/*.txt
**/*.pkl
**/*.ipynb_checkpoints/
**/*.tar.gz
*.whl
!licenses/*.txt

# ignore random other artifactors
**/*.DS_Store